@font-face {
    font-family: 'HermesNormal';
    src: local('HermesNormal'), url(./fonts/Hermes\ Normal.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Stratos';
    src: local('Stratos'), url(./fonts/Stratos-SemiBold.otf) format('truetype');
  }